<h2>Edit <%= @superpower.name %></h2>
<div class=“pt-10”>
 <%= simple_form_for @superpower do |f| %>
   <%= f.input :name %>
   <%= f.input :description %>
   <%= f.input :price, as: :numeric %>
   <%= f.input :photo %>
   <%= f.input :photo_cache, as: :hidden %>
   <%= f.submit %>
 <% end %>
</div>
