<%= render 'shared/navbar' %>
<div class="show-conatiner" style="text-align: center;padding-top: 95px;">
    <br>
      <h1 style="padding-bottom: 25px;">
        <strong><%= @superpower.name %></strong>
      </h1>
        <div><%= cl_image_tag @superpower.photo, height: 300, crop: :fill %>
        </div>
        <div style="font-size: 40px; padding: 5px;"><%= @superpower.description %>
        </div>
        <div style="font-size: 40px; padding: 5px;"><%= "€#{@superpower.price} per day" %>
        </div>
  <h3 style="padding-top: 40px;">Unavailable dates:</h3>
  <ul>
    <li class="text-center" style="list-style: none;"><% @superpower.bookings.each do |f| %>
        <div style="color: black; padding-right: 40px;">Booked on <%= f.date %></div>
        <% end %>
    </li>
  </ul>


  <h2 style="padding-top: 40px;">Pick your date to book "<%= @superpower.name%>"</h2>
  <div class="container pt-1" style="width: 600px">
    <%= simple_form_for [@superpower, @booking] do |f| %>
      <%= f.input :date %>
      <div align="center">
        <%= f.submit("Confirm Booking", class: "btn btn-secondary mt-2 mb-3") %>
      </div>
    <% end %>
  </div>

  <p><%= link_to "Back to All Superpowers", superpowers_path, class: 'btn btn-outline-dark' %></p>
  <div class="edit-delete">

  </div>
  <div>
    <h2>Reviews:</h2>
    <p>
      <% @superpower.reviews.each do |review| %>
        <% review.rating.times do  %>
          <span class="fas fa-star"></span>
        <% end %>
        <% review.blank_stars.times do  %>
          <span class="far fa-star"></span>
        <% end %>
        <br />
        <%= "\"#{review.description}\"" %>
      <br />
      <br />
      <% end%>
    </p>

  </div>

  </div>
