<h1><%= @superpower.name %></h1>
<p><%= @superpower.description %></p>
<ul>
  <li><b>User:</b> <%= @superpower.user.name %></li>
  <li><b>Book:</b> <%= @superpower.user.email %></li>
</ul>

<p><%= link_to "See all", superpowers_path %></p>
