<div class="show-conatiner" style="text-align: center;padding-top: 158px;">
  <br>
  <h1>
    <strong><%= @superpower.name %></strong>
  </h1>
  <%#= cl_image_tag @superpower.photo, height: 300, crop: :fill %>
    <%= @superpower.name %>
    <%= @superpower.description %>
      <li class = "inline"><p>User name: </p> <%= @superpower.user.name %></li>
      <li class = "inline"><p>Book: </p> <%= @superpower.user.email %></li>


<p><%= link_to "All Superpowers", superpowers_path, class: 'back-index' %></p>
<div class="edit-delete">
  <span> <%= link_to 'Edit', edit_superpower_path, class: 'edit-index'  %></span>
  <span><%= link_to 'Destroy', superpower_path, method: :delete, data: { confirm: 'Are you sure?' } %></span>

</div>

</div>
