<%= render 'shared/navbar' %>
<div class="container">
<h2 style="padding-top: 130px;">Pick your date to book "<%= @superpower.name%>"</h2>
<div class="pt-1">
  <%= simple_form_for [@superpower, @booking] do |f| %>
    <%= f.input :date %>
    <div align="center">
      <%= f.submit("Confirm Booking", class: "btn btn-secondary mt-2") %>
    </div>
  <% end %>

    <div align="center">
      <p><%= link_to "Back to SuperPowers", superpower_path(@superpower), class: 'btn btn-outline-dark mt-4' %></p>
    </div>
  </div>
</div>
</div>
