<header class="site-header" style="padding: 18px">
        <div class="nav-row partial" style="color: black">
          <div class="col-4 site-logo" data-aos="fade" ><%= link_to "PowerUp", root_path, class: "animsition-link"  %></div>
          <div class="col-8">
            <div class="menu">
              <ul class="navbar-menu">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
                </li>

              <% end %>
              <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <%= link_to dashboard_path do %>
                  <% if current_user.photo? %>
                    <%= cl_image_tag current_user.photo, height: 50, crop: :fill, class: "avatar" %>
                  <% else %>
                    <%= image_tag"http://morrisinsurancegroup.com/wp-content/uploads/2018/01/blank-avatar.png", class: 'avatar' %>
                  <% end %>
                <% end %>
              </li>
              <% end %>


              </ul>
            </div>
          </div>
        </div>
  </header>
