<%= render 'shared/navbar' %>
<div class="container" style="padding-top: 100px;">
  <h4 style ="text-align: center;">
    <strong>Welcome to your Dashboard!!</strong>
    <br>
      <p><%= @user.name %></p>
      <p><%= @user.bio %></p>
    </h4>
    <p class="text-center"><%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-secondary" %></p>
      <p class="text-center"><%= link_to "Back to all superpowers", superpowers_path, class: "btn btn-secondary" %></p>

<div class="whole-box">
  <div class="booking-box my-5 " style="width: 900px;height: 300px;">
    <div class="col-12" width="100%" >
      <% @user.superpowers.each do |superpower| %>
      <div class="row">
        <div class="col-3 my-2">
          <%= link_to superpower_path(superpower) do %>
            <img id="dash-card" src="<%=superpower.photo%>" height="50" width="50"/>
          <% end %>
        </div>
        <div class="col-4 my-2">
          <%= superpower.name%>
        </div>
        <div class="col-2 my-2">
          <%= "Booked on #{superpower.bookings[0].date if superpower.bookings[0].present?}" %>
        </div>
        <div class="col-1 my-2">
          <%= "€#{superpower.price}"%>
        </div>
        <div class="col-1 my-2">
          <%= link_to "Edit", edit_superpower_path(superpower)%>
        </div>
        <div class="col-1 my-2">
          <% if superpower.bookings.present? %>
            <%= link_to "Delete", superpower_path(superpower), method: :delete, data: { confirm: "This superpower was booked by someone!!! Do you REALLY want to delete?" } %>
          <% else %>
            <%= link_to "Delete", superpower_path(superpower), method: :delete, data: { confirm: "Are you sure to delete your superpower?" } %>
          <% end %>
        </div>

      </div>
        <% end %>
    </div>
  </div>

  <div class="booking-box my-5" style="width: 900px;height: 300px;">
     <div class="col-12" width="100%" >
      <div>
         <div class="row" style="text-align: center;margin: 0 auto;">

          <div class = "col-12 my-2">
            <h4>Your upcoming bookings</h4>
          </div>
          <div class="booking-view">
            <% @user.bookings.each do |booking| %>
              <% if booking.date > Time.now %>
              <img id="dash-card" src="<%=booking.superpower.photo%>" height="50" width="50"/>
              <div class ="detail">
                <p><%= booking.superpower.name %> </p>
                <p><%= booking.date %></p>
              </div>
              <div class ="edit-delete buttons" style="padding-top: 20px;">
                 <span><%= link_to 'Edit', edit_booking_path(booking), class: 'btn btn-secondary'%></span>
                  <span><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bookings/<%= booking.id %>">Destroy</a></span>
              </div>
              <% end %>
            <% end  %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="booking-box my-5" style="width: 900px;height: 300px;">
     <div class="col-12" width="100%" >
      <div>
         <div class="row" style="text-align: center;margin: 0 auto;">

          <div class = "col-12 my-2">
            <h4>Your past bookings</h4>
          </div>
          <div class="booking-view">
            <% @user.bookings.each do |booking| %>
              <% if booking.date < Time.now %>
              <img id="dash-card" src="<%=booking.superpower.photo%>" height="50" width="50"/>
              <div class ="detail">
                <p><%= booking.superpower.name %> </p>
                <p><%= booking.date %></p>
              </div>
              <div class ="review-button">
                <span> <%= link_to 'Leave Review', new_booking_review_path(booking), class: 'btn btn-secondary' %></span>
              </div>
              <% end %>
            <% end  %>
          </div>
      </div>
    </div>
  </div>







