<div class="container" style="padding-top: 80px;">
  <h4 style ="text-align: center;">
    <strong>Welcome to your Dashboard!! <%= @user.name %></strong>
    <br></br>
    </h4>

<div class="whole-box">
  <div class="booking-box" style="width: 750px;height: 300px;">
    <img src="https://images.unsplash.com/photo-1531907700752-62799b2a3e84?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" style="width: 450px;"/>
    <div class="booking-box-info">
      <div>
          <h4>Your Superpowers</h4>
          <% @superpowers.each do |superpower| %>
          <p>Super Power : <%= superpower.name %></p>
          <p>Description : <%= superpower.description %></p>
          <p>is booked by <%= superpower.user.name %></p>
          <p>on this date : <%= superpower.user.bookings[0].date %></p>
        <% end %>
      </div>
    </div>
  </div>


  <div class="booking-box" style="width: 750px;height: 300px;">
    <div class="booking-box-info">
      <div>
          <h4>Your past bookings:</h4>
          <% @user.bookings.each do |booking| %>
            <% if booking.date < Time.now %>
            <p>Super Power :<%= booking.superpower.name %> </p>
            <p>on the date : <%= booking.date %></p>
            <span> <%= link_to 'Leave your review', new_booking_review_path(booking), class: 'btn btn-secondary' %></span>
            <% end %>
          <% end  %>
      </div>
    </div>
  </div>


  <div class="booking-box" style="width: 750px;height: 300px;">
    <div class="booking-box-info">
      <div>
          <h4> Your upcoming bookings:</h4>
            <% @user.bookings.each do |booking| %>
              <% if booking.date > Time.now %>
              <p>Super Power :<%= booking.superpower.name %> </p>
              <p>on the date : <%= booking.date %></p>
              <span><%= link_to 'Edit', edit_superpower_path, class: 'btn btn-secondary'  %></span>
              <span><%= link_to 'Destroy', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <!--            DELETE BOOKING BTN -->
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
</div>



