<%= render 'shared/navbar' %>
<div class="container" style="padding-top: 100px;">
    <h2 style ="text-align: center;"><strong>Your Dashboard</strong></h2>
  <div div class="bio-box " style="width: 900px;padding-bottom: 35px;">

    <div class="user-box text-center">
      <h4>Welcome <%= @user.name %></h4>
      <h5 class="text-center pt-5">Bio</h5>
      <p class ="text-center">Bio <%= @user.bio %></p>
    </div>

  </div>
  <div class="buttons-box">
      <p class="text-center"><%= link_to "Edit profile", edit_user_path(@user), id: "edit-button" %></p>
       <p class="text-center"><%= link_to "Back to Superpowers", superpowers_path, id: "edit-button" %></p>
  </div>

  <div class="whole-box">
    <div class="booking-box my-5 " style="width: 900px;height: 300px;">
      <div class="col-12" width="100%" >
        <% @user.superpowers.each do |superpower| %>
        <div class="row">
          <div class="col-3 my-2">
            <%= link_to superpower_path(superpower) do %>
              <img id="dash-card" src="<%=superpower.photo%>" height="50" width="50"/>
            <% end %>
          </div>
          <div class="col-4 my-2">
            <%= superpower.name%>
          </div>
          <div class="col-2 my-2">
            <% if superpower.bookings.present? %>
            <% superpower.bookings.each do |booking| %>
              <p> booked on <%= booking.date %> </p>
            <% end %>
            <% else  %>
              <p>Currently No Booking</p>
            <%end%>
          </div>
          <div class="col-1 my-2">
            <%= "€#{superpower.price}"%>
          </div>
          <div class="col-1 my-2">
            <%= link_to "Edit", edit_superpower_path(superpower)%>
          </div>
          <div class="col-1 my-2">
            <% if superpower.bookings.present? %>
              <%= link_to "Delete", superpower_path(superpower), method: :delete, data: { confirm: "This superpower was booked by someone!!! Do you REALLY want to delete?" } %>
            <% else %>
              <%= link_to "Delete", superpower_path(superpower), method: :delete, data: { confirm: "Are you sure to delete your superpower?" } %>
            <% end %>
          </div>

        </div>
          <% end %>
      </div>
    </div>

  <div class="booking-box my-5" style="width: 900px;height: 300px;">
    <div class="col-12" width="100%" >
      <div>
         <div class="row" style="text-align: center;margin: 0 auto;">
          <div class = "col-12 my-2">
            <h4>Your upcoming bookings</h4>
          </div>
          <div class="booking-view">
            <% @user.bookings.each do |booking| %>
              <div style ="padding: 10px 24px";>
              <% if booking.date > Time.now %>
              <img id="dash-card" src="<%=booking.superpower.photo%>" height="50" width="50"/>
              <div class ="detail">
                <p><%= booking.superpower.name %> </p>
                <p><%= booking.date %></p>
              </div>
              <div class ="edit-delete buttons" style="padding-top: 20px;">
                <span><%= link_to 'Edit', edit_booking_path(booking), id: "btn btn-secondary"%></span>
                <span><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bookings/<%= booking.id %>">Destroy</a></span>
              </div>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="booking-box my-5" style="width: 900px;height: 300px;">
    <div class="col-12" width="100%" >
      <div>
         <div class="row" style="text-align: center;margin: 0 auto;">
          <div class = "col-12 my-2">
            <h4>Your past bookings</h4>
          </div>
          <div class="booking-view">
              <% @user.bookings.each do |booking| %>
              <div style ="padding: 10px 24px";>
               <% if booking.date < Time.now %>
                <img id="dash-card" src="<%=booking.superpower.photo%>" height="50" width="50"/>
              <div class ="detail">
                <p><%= booking.superpower.name %> </p>
                <p><%= booking.date %></p>
              </div>
              <div class ="review-button">
                <span> <%= link_to 'Leave Review', new_booking_review_path(booking), class: 'btn btn-secondary' %></span>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>









