    <header class="site-header" style="padding: 18px">
        <div class="nav-row">
          <div class="col-4 site-logo" data-aos="fade" ><%= link_to "PowerUp", root_path, class: "animsition-link"  %></div>
          <div class="col-8">
            <div class="menu">
              <ul class="navbar-menu">
                 <% if user_signed_in? %>
                <li>
                  <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
                <% if user_signed_in? %>
                  <li class="nav-item dropdown">
                  <%= link_to dashboard_path do %>
                    <% if current_user.photo? %>
                      <%= cl_image_tag current_user.photo, height: 50, crop: :fill, class: "avatar" %>
                    <% else %>
                      <%= image_tag"http://morrisinsurancegroup.com/wp-content/uploads/2018/01/blank-avatar.png", class: 'avatar' %>
                    <% end %>
                  <% end %>
                </li>
              <% end %>

              </ul>
            </div>
          </div>
        </div>
  </header>

    <section class="site-hero overlay" style="background-image: url(https://images.unsplash.com/photo-1531907700752-62799b2a3e84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <h1 class="heading mb-4" data-aos="fade-up">Book &amp; enjoy SuperPower</h1>
            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
            Become a SuperHero for a day
            </p>
            <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
              <%= link_to 'Discover Magic Powers', superpowers_path, class: "btn uppercase btn-outline-light d-sm-inline d-block py-3" %>
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="container" style="padding-bottom: 80px;">
    <h2 class="text-center" style="padding:40px;">What our customers have to say ...</h2>
    <div class="cards">

      <div class="card">
        <img class="img-fluid" src="https://k61.kn3.net/2/B/4/D/5/2/2A9.jpg" alt="Responsive image">
        <h4 class="text-center" style="padding: 10px;">Clark Kent</h4>
        <p class= "text-center" style="color:black;">I really trust in these guys to get my superpowers and fight crime. 100% recommended!</p>
      </div>

      <div class="card">
        <img class="img-fluid" src="https://www.hindustantimes.com/rf/image_size_640x362/HT/p1/2014/07/23/Incoming/Pictures/1243711_Wallpaper2.jpg" alt="Responsive image">
        <h4 class="text-center" style="padding: 10px;">Bruce Wayne</h4>
        <p class="text-center" style="color:black;">I don't really have Superpowers, but I enjoy expending all my money on these people just to see how it feels to be a Superhero for a day</p>
      </div>

      <div class="card">
        <img class="img-fluid" src="https://i0.wp.com/www.4ye.co.uk/wp-content/uploads/2019/04/5c16a6fa01c0ea15eb58edd2-750-563.jpg?fit=750%2C563&w=640" alt="Responsive image">
        <h4 class="text-center" style="padding: 10px;">Peter Parker</h4>
        <p class="text-center" style="color:black;">With the help of PowerUp I was finally able to acquire some good superpowers and make a good impression on Mary Jane Watson.</p>
      </div>

    </div>
  </div>

  <!-- code a footer -->
  <div class="footers">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f" style="color:white;"></i></a>
      <a href="#"><i class="fab fa-fw fa-github" style="color:white;"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter" style="color:white;"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram" style="color:white;"></i></a>
      <p style="padding: 20px;">This website was coded with <i class="fas fa-heart"></i> by "Many Hands" team at Le Wagon.</p>

    </div>
  </div>

