<%= render 'shared/navbar' %>

<h1>Make a review!</h1>

<div class="pt-5">
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
    <%= f.input :description %>
    <%= f.submit "Add review", class: "btn" %>
  <% end %>
</div>
